body {
	font-family: Arial, Helvetica, sans-serif;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
/* Other footer style */
.footer {
	background: #80ffff;
	color: black; 
	text-align:center;
	padding-top: 20px;
}
