button.accept {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
	padding: 15px 32px;
	font-size: 16px;
	visibility: hidden;
}

button.accept:hover {
    background-color: white;
    color: black;
}

button.reject {
    background-color: #f44336;
    color: black;
    border: 2px solid #f44336;
	padding: 15px 32px;
	font-size: 16px;
	visibility: hidden;
}

button.reject:hover {
    background-color: white;
    color: black;
}

button.pullRequest{
  text-align: left;
  background-color: white;
  font-family: Arial, Verdana, sans-serif;
  color: #111111;
  padding: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

centerPage{
	text-align: center;
}
