#infoDisplay{
	width: 80%;
	background-color:#fff0c8;
	border: 3px solid black;
	height: 200px;
	float:left;
	margin-top: 20px;
	margin-left:10%;
	margin-right:10%;
}

#feed{
	background-color:#fff0c8;
	display: inline;
	float:left;
	border: 3px solid black;
	width: 80%;
	margin-top: 50px;
	margin-left:10%;
	margin-right:10%;
}

.comment-area {
	text-align: right;
	margin-top: 2em;
	margin-right: 8%;
}

.comment-area span {
	padding-right: 1em;
}

#add-comment img {
	height: 32px;
	width: 32px;
	text-align: left;
}

#comment-box {
	margin-top: 1em;
	display: none;
}

#comment-box textarea {
	resize: none;
	width: 500px;
	height: 100px;
}

#comment {
	margin-top: 1em;
}

.comment {
	margin-top: .5em;
}

.row {
  margin-right: inherit;
  margin-left: inherit;
}

th {
	border: 0 !important;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px;
	white-space: pre;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.repoInfo{
	margin-left: 20px;
	float: left;
}

.buttons button{
	width: 80%;
	margin-left: 10%;
	height: 100px;
	margin-bottom: 10px;
}

button.accept {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
	padding: 15px 32px;
	font-size: 16px;
}

button.accept:hover {
    background-color: white;
    color: black;
}

button.reject {
    background-color: #f44336;
    color: black;
    border: 2px solid #f44336;
	padding: 15px 32px;
	font-size: 16px;
}

button.reject:hover {
    background-color: white;
    color: black;
}

button.prButton{
	float: right;
	font-size: 16px;
}

button.backButton{
	font-size: 16px;
}

.navButtons{
	float:right;
	margin-right: 20px;
}

.modifiedTable{
	float:right;
	margin-right: 100px;
	width: 500px;
}

.originalTable{
	float: left;
	margin-left: 100px;
	width: 500px;
}

div.hide {
    display: none;
}

div.show {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
