html{
	background-color: #3c9fda;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

#infoDisplay{
	width: 80%;
	background-color:#fff0c8;
	border: 3px solid black;
	height: 200px;
	float:left;
	margin-top: 100px;
	margin-left:10%;
	margin-right:10%;
}

#feed{
	background-color:#fff0c8;
	display: inline;
	float:left;
	border: 3px solid black;
	width: 80%;
	margin-top: 50px;
	margin-left:10%;
	margin-right:10%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 16px;
	white-space: pre;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.repoInfo{
	margin-left: 20px;
	float: left;
}

.buttons{
	margin-top: 50px;
}

.buttons button{
	width: 80%;
	margin-left: 10%;
	height: 100px;
	margin-bottom: 10px;
}

button.accept {
    background-color: #4CAF50;
    color: black;
    border: 2px solid #4CAF50;
	padding: 15px 32px;
	font-size: 16px;
}

button.accept:hover {
    background-color: white;
    color: black;
}

button.reject {
    background-color: #f44336;
    color: black;
    border: 2px solid #f44336;
	padding: 15px 32px;
	font-size: 16px;
}

button.reject:hover {
    background-color: white;
    color: black;
}

button.prButton{
	float: right;
	font-size: 16px;
}

button.backButton{
	font-size: 16px;
}

.navButtons{
	float:right;
	margin-right: 20px;
}

.modifiedTable{
	float:right;
	margin-right: 100px;
	width: 500px;
}

.originalTable{
	float: left;
	margin-left: 100px;
	width: 500px;
}